.details-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  height: 80%;
  width: 40%;
  margin-left: 25%;
  /* border: 2px solid yellow; */
}

.tagline {
  margin: 3px 0 20px 0;
}

.over-view {
  margin-top: 0;
  font-size: 20px;
}

.details-img {
  height: 50%;
  width: 100%;
}

.movie-title {
  display: flex;
  justify-content: center;
  /* border: 2px solid purple; */
}