.details-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  height: 80%;
  width: 100%;
  border: 2px solid yellow;
}

.details-img {
  height: 50%;
  width: 90%;
}

.movie-title {
  display: flex;
  justify-content: center;
  border: 2px solid purple;
}