.details-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 40%;
  margin-left: 27%;
  margin-bottom: 10%;
  background-color: #493548;
  color: white;
  padding: 15px;
  box-shadow: 10px 10px 15px #4B4E6D;
}

.tagline {
  margin: 3px 0 20px 0;
}

.over-view {
  margin-top: 0;
  font-size: 20px;
}

.details-img {
  height: 50%;
  width: 100%;
}

.movie-title {
  display: flex;
  justify-content: center;
}

.runtime-mainpage-button-div {
  display: flex;
  justify-content: space-between;
}

.nav-button-div {
  width: 25%;
}

.return-to-main {
  padding: 5%;
  margin-top: 10%;
  width: 100%;
  height: 80%;
  margin-right: 91%;
  cursor: pointer;
}