.nav-bar {
  display: flex;
  padding: 0 30px 0 30px;
  padding-left: 4%;
  margin-bottom: 70px;
  justify-content: space-between;
  color: white;
  font-size: 50px;
  background-color: rgb(37, 20, 37);
  box-shadow: 0 0 15px #4B4E6D;
}

.nav-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

button {
  font-size: 20px;
  width: 70%;
  height: 25%;
}